@font-face {
    font-family: "inter";
    src: url("../fonts/Inter-VariableFont.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "work_sans";
    src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

/* Animationen  */
@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes linearText {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(-420px);
    }
}
/* BASIC STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: auto;
}

a {
    text-decoration: none;
    color: black;
}

html {
    font-size: 10px;
    font-family: "work-sans", Arial, Helvetica, sans-serif;
    background-color: rgb(237, 237, 237);
}

/* ! HEADER */

header {
    background-color: #000000;
    color: white;
    padding: 192px 110px 110px 100px;
    background-image: url("../img/backgrounds/map.png");
    background-repeat: no-repeat;
    background-position: right bottom 100px;
    /* height: 100vh; */
}

.top-headline {
    text-align: center;
}

.top-headline h1,
.font-outline {
    font-family: "inter";
    font-size: 6.4rem;
    line-height: 78%;
}

.font-outline {
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white;
}

.top-headline p:nth-of-type(1),
.top-headline p:nth-of-type(3) {
    font-size: 1.2rem;
    padding: 30px;
}

.btn-rsvp a {
    display: block;
    border: 1px solid white;
    width: 100px;
    text-align: center;
    padding: 14px 0;
    transition: 1s;
    color: white;
    font-size: 2rem;
    font-weight: 100;
}

.btn-rsvp a:hover {
    color: #000000;
    background-color: rgb(237, 237, 237);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15vh;
}

.navigation img {
    /* width: 5vw;
    height: auto; */
}
/* ------------------------------------------ */
/* * Section text-and-info */

.text-last_year {
    font-size: clamp(6rem, 10vw, 10rem);
    font-weight: bold;
    margin-bottom: 10vh;
    font-family: "inter";
}

.info-wildfires h5 {
    font-family: "work_sans";
    font-weight: 500;
    font-size: 1.4rem;
}

.info-wildfires p {
    font-family: "inter";
    font-size: clamp(6rem, 10vw, 10rem);
    margin-bottom: 3vh;
}
/* ! MAIN */
/* -------------------------------------------- */
/* * Section top-stuck-in-the-middle */
.top-stuck-in-the-middle {
    padding: 2vh 2vw 0 2vw;
    display: flex;
    height: 120vh;
    align-items: center;
}

.one-picture {
    flex-basis: 50%;
    align-self: flex-start;
    margin-top: 100px;
}

.img-left {
    width: 100%;
}

.text-stuck {
    flex-basis: 60%;
    padding: 0 3vh 0 5vh;
}
.text-stuck h2 {
    font-family: "inter";
    font-size: 8.4rem;
}

.text-stuck p {
    font-size: 1.6rem;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 30px;
}

.two-pictures {
    flex-basis: 30%;
}

.two-pictures {
    height: 800px;
    /* align-self: flex-start; */
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.picture-top {
    align-self: flex-start;
    padding-right: 50px;
    margin-top: -220px;
}

.picture-bottom {
    /* align-self: flex-start; */
    padding-left: 50px;
}
/* ------------------------------------- */
/* * section bottom-stuck-in-the-middle */

.horizontal-two-picture {
    display: flex;
    height: 50vh;
    justify-content: space-between;
    padding: 0 100px;
}

.picture-left-top {
    justify-self: flex-start;
    padding-bottom: 18vh;
}

.picture-right-bottom {
    padding-top: 18vh;
    justify-self: flex-start;
}

.text-and-picture {
    display: flex;
    align-items: center;
}

.text-and-picture img {
    padding-top: 50px;
    flex-basis: 25%;
    margin-right: 100px;
}

.text-and-picture p {
    flex-basis: 35%;
    padding-top: 250px;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 30px;

    /* margin-bottom: 100px; */
}

.one-picture-bottom {
    display: flex;
    padding-top: 40px;
    justify-content: center;
}

.one-picture-bottom img {
    margin-left: 400px;
}
/* ------------------------------------------ */
/* * section goldenbaer */

.goldenbear {
    background: linear-gradient(#000000 70%, #ffffff 60%);
    color: white;
    padding: 170px 0 0 104px;
}

.goldenbear h6 {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 30px;
}

.goldenbear-headline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 168px;
}

.goldenbear p:nth-last-child(3) {
    font-size: 2rem;
}

.goldenbear-headline h3 {
    font-family: "inter";
    font-size: 8.4rem;
    flex-basis: 30%;
}

.goldenbear-headline div {
    flex-basis: 50%;
}

.goldenbear-headline div p:nth-of-type(1) {
    font-family: "inter";
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 30px;
    padding-right: 104px;
}

.goldenbear-headline div p:nth-of-type(2) {
    font-size: 2rem;
}

.picture-and-aminations {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 20vh;
    overflow: hidden;
    justify-content: flex-start;
}

.picture-center {
    display: flex;
    align-items: center;

    z-index: 2;
}
.img-goldenbear {
    min-width: 60vw;
    /* flex-basis: 60%; */
}
.goldenbear-image {
    min-width: 30vw;
    margin-left: -104px;
    /* flex-basis: 30%; */
}

.goldenbear:nth-last-of-type(1) {
    color: black;
    background: none;
    padding-top: 20px;
}
/*  Div-Box wurde mit festen Werten positioniert */
/*  und in .picture-and-aminations ist overflow:hidden */

.animation {
    z-index: 1;
    margin-top: 500px;
    margin-left: -10vw;
    animation: rotateText 15s infinite linear;
}

.animation svg {
    /* width: 422px;
    height: 422px; */
    width: 60vh;
    height: auto;
}

/* * Article picture-poppybear */

.picture-poppybear {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    justify-content: flex-start;
    margin-left: 104px;
}

.rosebear-image {
    margin-left: -10vh;
    z-index: 1;
    min-width: 60vw;
}

.poppybear-img {
    z-index: 2;
    min-width: 30vw;
    margin-left: -100px;
    /* flex-basis: 30%; */
}

/* ! FOOTER */
/* Footer wurde in zwei Sektionen mit Display:flex unterteilt  */

footer {
    overflow: hidden;
    background-color: black;
    color: white;
    padding: 0 104px;
    display: flex;
}

.join-us {
    padding: 88px;
    flex-basis: 50%;
}

.join-headline {
    font-size: 1.2rem;
    /* border: 1px solid red; */
    margin-bottom: 30px;
}

.join-text {
    font-family: "inter";
    font-size: 2.4rem;
    width: 30vw;
    line-height: 46px;
    margin-bottom: 30px;
}

.links {
    padding-top: 60px;
    margin-bottom: 15px;
}

.links-and-copyright p:nth-of-type(1) {
    margin-bottom: 15px;
}

/* ------------------------------------------- */
/* * Section animation-text  */
/* Animation sich bewegender Text auf einer Linie */
/* Div-Box text-animation wurden vegrößert und  */
/* im footer wurde overflow:hidden verwendet */

.animation-text {
    height: 100px;
    background-color: rgb(237, 237, 237);
    color: black;
    transform: rotate(45deg);
    transform-origin: top left;
    margin-left: 120px;
    margin-top: -90px;
    font-family: "inter";
    font-size: 10rem;
    flex-basis: 30%;
}

.text-animation {
    width: 100vw;
    place-items: center;
    animation: linearText 10s infinite linear alternate;
}

.text-animation span {
    color: rgb(237, 237, 237);
    text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
        -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}

/* # MEDIA QUERIES */

@media (max-width: 768px) {
    .picture-center {
        margin-left: 2vw; /* Anpassung für kleinere Bildschirme */
    }

    .goldenbear-image {
        margin-left: -5vw; /* Anpassung für kleinere Bildschirme */
    }

    .animation {
        margin-left: 2vw; /* Anpassung für kleinere Bildschirme */
    }
}

@media (max-width: 480px) {
    .picture-center {
        margin-left: 0;
    }

    .goldenbear-image {
        margin-left: -2vw; /* Anpassung für sehr kleine Bildschirme */
    }

    .animation {
        margin-left: 0;
    }
}
